body {
    font-size: 30px;
}

img {
    display: block;
    border: 5px solid blue;
    width: 75%;
    margin: 0 auto;
}

h1, p {
    border: 5px solid green;
    text-align: center;
}

#image-box {
    text-align: center;
}

p {
    font-size: 3em;
}