

body {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background: #c4bbb8;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Rockwell", "Papyrus";
    margin: 0;
}

header {
    background: #c4bbb8;
    font-family: "Papyrus", "Rockwell";
    font-size: 2em;
}

main {
    text-align: center;
}

nav a{
    text-align: center;
    background: #c4bbb8;
    color: #FF093C;
    text-decoration: none;
    padding: 30px;
}

nav a:hover {
    background: #141204;
}

.book, .join{
    background: #c4bbb8;
    color: #FF093C;
    text-decoration: none;
    font-family: "Papyrus", "Rockwell";
    font-size: 2em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background: #141204;
}

footer {
    background: #c4bbb8;
}

.msg {
    background: #c4bbb8;
    padding: 35px;

}

.msg p{
    background: #c4bbb8;
    font-family: "Rockwell", "Papyrus";
    line-height: 1.5em;
    font-size: 2em;
    padding-bottom: 15px;
}

a {
    text-align: center;
}

#background {
    height: 725px;
    background: #7d1128;
}

footer h3 a {
    background: #c4bbb8;
    color: #FF093C;
    text-decoration: none;
}

footer h3 a:hover {
    background: #141204;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}

#logo-link {
    padding-top: 5px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    margin-top: 10px
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #7d1128;
}
main section img {
    box-sizing: border-box;
}

div {
    max-width: 1600px;
}